.items {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item {
    flex: 0 0 32%;
    max-width: 32%;
    text-align: center;
    border: 1px solid #000;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
  }
  .item img {
    width: 100px;
    height: 100px;
    margin: 0px auto;
  }